*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100vw;
    height: 60px;
    background-color: rgb(12, 12, 119);
    position: fixed;
   
}
.list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.list .item{
   margin-top:15px ;
}
.list .item:hover{
    background-color: black;
}
.list .item:hover a{
    color: white;
}
.list .item a{
    height: 60px;
    color: white;
    padding-top:20px ;
    font-size: 20px;
}
.header-image{
    height:calc(100vh - 60px);
    width: 100vw;
    background-image: url("./assites/image/test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-image h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(233, 148, 148, 0.808);
    height: 100px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
}